NODE_ENV=development
PORT=3333
HOST="0.0.0.0"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=senha123
POSTGRES_DB=tarefa_node
POSTGRES_PORT=6767

HASH_SALT_ROUNDS=12

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:senha123@localhost:6767/tarefa_node?schema=public"

PROJECT_NAME=backend_template_reborn

# App
APP_NAME="Backend Template Reborn"
APP_PORT=3000
JWT_SECRET=
FRONTEND_URL=http://localhost:5173
HASH_SALT_ROUNDS=12
SENTRY_DSN=

# Comando de inicialização
COMMAND="npm run start:dev"


# SMTP
SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_PORT=
SMTP_HOST=
SMTP_SECURE=

# Cron
CRON_SCHEDULE="0 23 * * *"